.fileDownloaderContainer {
    display: flex;
    align-items: center;
    gap: 20px;

}

.select {
    width: 328px;
    font-family: "Montserrat", serif;
    color: #222;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.15);
    border-radius: 5px;
    appearance: none;
    background-image: url('../../assets/Down.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 14px;
}

.select:hover {
    border: 1px solid rgb(0, 0, 0, 0.3);
}
