.droppables {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    z-index: 1000; 
  }
  
  .modalContent {
    background-color: #fff;
    padding: 24px 28px;
    border-radius: 8px;
    min-width: 870px;
    max-width: 1500px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 5vh 8vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
.titleSubdomains {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    span {
        font-size: 1.25rem;
        font-weight: 500;
    }
}
  
  .subdomains {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .droppableLabel {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }


  .subdomains {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 192px;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
}

.dndContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.receivingDomains {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;

    button {
        width: 100%;
        max-width: 238px;
    }
}

.addingDomains {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;

    button {
        width: 100%;
        max-width: 132px;
    }
}

.noSubdomains {
    font-size: 16px;
    color: rgb(50, 50, 50, 0.4);
}

.modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.validationError {
    margin: 0;
    text-align: justify;
    font-size: 1.125rem;
    color: #FF3939;
    font-weight: 500;
}

.modalHeading {
    display: flex;
    justify-content: space-between;
    img {
        cursor: pointer;
    }
}

.frequencyVerification {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    font-size: 1rem;
    font-weight: 500;
}

.numberVerification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}