.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    z-index: 1000;
    padding-top: 25vh;
  }
  
  .modalContent {
    background: white;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        margin: 0;
        text-align: start;
    }
  }
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    button {
        width: 100%;
    }
  }

.modalHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);

    span {
        font-size: 1.125rem;
    }

    img {
        cursor: pointer;
        opacity: 0.9;
    }
}