.entranceForm {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 48px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  button {
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
  color: #333;
}

.textFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #0056b3;
}

.error {
	color: red;
	font-size: 1rem;
	margin: 4px 0 0 0;
  text-align: left;
}