.resetPasswordForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin: 0;
}

.TextField {
  grid-column: 1 / -1;
}

.Button {
  grid-column: 1 / -1;
  justify-self: center;
}
