.resetPasswordForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.TextField {
  grid-column: 1 / -1;
}

.Button {
  grid-column: 1 / -1;
  justify-self: center;
}

.error {
	color: red;
	font-size: 1rem;
	margin: 0;
  text-align: left;
}