.resetPasswordForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 32px 48px 48px;
  gap: 28px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);

  button{
    width: 100%;
  }
}

.title {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.Button {
  justify-self: center;
}

.error {
	color: red;
	font-size: 1rem;
	margin: 4px 0 0 0;
  text-align: left;
}

.mainblock{
  display: flex;
  flex-direction: column;  
  gap:20px;
}