.textArea {
display: flex;
flex-direction: column;
gap: 8px;
width: 100%;
}

.label {
font-weight: 500;
width: fit-content;
font-size: 1.25rem;
}

.textarea {
padding: 12px 16px;
border: 1px solid rgb(0, 0, 0, 0.15);
border-radius: 4px;
font-family: "Montserrat", serif;
font-size: 1.125rem;

resize: vertical; /* Позволяет изменять размер по вертикали */
}

.textarea:focus {
outline: none;
border: 1px solid rgb(0, 0, 0, 0.5);
}

.textarea:hover {
outline: none;
border: 1px solid rgb(0, 0, 0, 0.3);   
}

.textarea:disabled {
background-color: #f0f0f0;
cursor: not-allowed;
}