.monitoringPage {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    gap: 32px;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    align-self: flex-start;
    margin: 0;
    text-align: start;
    line-height: 140%;
}

h4 {
    max-width: 800px;
    font-weight: 400;
    font-size: 1.375rem;
    margin: 0;
    text-align: start;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.monitoringHead {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.monitoringContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.noSitesMessage {
    margin: 0;
    text-align: justify;
    font-size: 1.125rem;
    color: rgb(34, 34, 34, 0.6);
}

.addSiteButton {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.monitoringDomains {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
