.domain {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    background-color: #F9F9F9;
    border-radius: 7px;
    padding: 0px 24px;
}

.domainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subdomains {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
}

.subdomain {
    width: fit-content;
    padding: 4px 16px;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    font-size: 0.875rem;
    height: fit-content;
}

h5 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 20px 0px;
    width: 100%;
    text-align: left;
}

.domainHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}